.search_panel .form-control{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 5px;
}

.search_panel .btn.btn-primary{
    position: absolute;
    right: 0;
    top: 23px;
}

.search_panel{
    position: relative;
}