.landing-page{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
}


.landing-page h5{
    font-size: 4rem;
    font-variant: small-caps;
}