.col-4.content-cell label {
    font-variant: all-small-caps;
    color: #7e8c86;
}

.col-4.content-cell  {
    padding: 15px 10px;
}

.content-cell h5 {
    color: #59427d;
}

.container-heading > b{
    color: #8fe9f3;
    border-bottom: 1px dotted;
}

.container-heading > span a {
    color:  #2ffbf9 !important;
}