
<h5 class="container-heading"> 
   <span><a href="javascript:void(0);" (click)="navigateTo()"> Back </a> </span> >  Viewing Details for <b> {{companyData?.name}}</b> </h5>

<div class="container container-body">
    
    <div class="row">
        <div class="col-4 content-cell">
            <label>Company Name</label>
            <h5>{{companyData?.name}}</h5>
        </div>
        <div class="col-4 content-cell">
            <label>Company Type</label>
            <h5>{{companyData?.brewery_type}}</h5>
        </div>
        <div class="col-4 content-cell">
            <label> Address</label>
            <h5>{{companyData?.city}},  {{companyData?.state }}, {{companyData?.country}} </h5>
        </div>
        <div class="col-4 content-cell">
            <label> Postal Code</label>
            <h5>{{companyData?.postal_code}}</h5>
        </div>
        
        <div class="col-4 content-cell">
            <label> Contact Number</label>
            <h5>{{companyData?.phone}}</h5>
        </div>
        <div class="col-4 content-cell">
            <label> Website</label>
            <h5>{{companyData?.website_url}}</h5>
        </div>
    </div>
    <!-- Commented this block, because of Billability issue for the Maps from Google -->
    <!-- <div class="row">
        <div class="col-6" *ngIf="showMap">
            <h2>Map layout</h2>
            <agm-map 
            [latitude]='lat' 
            [longitude]='long'
            >
           
             <agm-marker 
                 [latitude]="lat" 
                 [longitude]="long">    
             </agm-marker>
           
         </agm-map>
        </div>
    </div> -->
</div>
