
<h5 class="alert alert-success">
   <span><a [routerLink]="['/list']">List</a></span> > Viewing Details for <b> {{companyData?.name}}</b></h5>

<div class="container">
    
    <div class="row">
        <div class="col-4 content-cell">
            <label>Company Name</label>
            <h5>{{companyData?.name}}</h5>
        </div>
        <div class="col-4 content-cell">
            <label>Company Type</label>
            <h5>{{companyData?.brewery_type}}</h5>
        </div>
        <div class="col-4 content-cell">
            <label> Address</label>
            <h5>{{companyData?.city}},  {{companyData?.state }}, {{companyData?.country}} </h5>
        </div>
        <div class="col-4 content-cell">
            <label> Postal Code</label>
            <h5>{{companyData?.postal_code}}</h5>
        </div>
        
        <div class="col-4 content-cell">
            <label> Contact Number</label>
            <h5>{{companyData?.phone}}</h5>
        </div>
        <div class="col-4 content-cell">
            <label> Website</label>
            <h5>{{companyData?.website_url}}</h5>
        </div>
    </div>
</div>
